<html>
    <header>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </header>
    <body>
        <video playsinline autoplay muted loop class="bgVideo">
            <source src="{{url_for('static', filename='vid/about.mp4')}}">
        </video>

        <div class="content page-content">
            <header>
                <h1>FuckGPT</h1>
            </header>
    
            <form action="http://127.0.0.1:5000/" method="POST" id="form" enctype="multipart/form-data">
                <div class="page-content">
                    <input type="file" id="files" accept=".txt, .pdf" name="files" required>
                </div>
            </form>
        </div>

        <div class="footer">
            <footer>
                <p>Made with ❤️ on Earth</p>
            </footer>
        </div>
    </body>
    <script>
document.getElementById('files').onchange = function() {
    document.getElementById('form').submit();
};
    </script>
</html>